:root {
    --orange: #bd5139;
    --brightorange: #ff7e5c;
    --white: #ede9d0;
    --black: #3a001e;
}

body {
    background-color: var(--white);
}

#siteContainer {
    
}

#nav {
    padding: 2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
}

#navButtonContainer {
    display: inline-block;
}

.navButton {
    background-color: transparent;
    border: none;
    color: var(--black);
    font-weight: 500;
    font-size: 2vh;
    padding: 2vh;
    float: left;
    font-family: "Roboto";
}

.navButton:hover {
    color: var(--orange);
}

.navButton.active {
    color: var(--brightorange);
}

.field {
    text-align: center;
}

.toggle {
    background-color: var(--white);
    border: 2px solid var(--black);
    color: var(--black);
    border-radius: 1vh;
    padding: 1vh;
}

.toggle.active {
    background-color: var(--black);
    color: var(--white);
}

#listMode {
    position: fixed;
    top: 50%;
    left: 4%;
}

.inputBox {
    display: inline-block;
    margin-top: 8%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: transparent;
    position: sticky;
    top: 4%;
    z-index: 11;
}

.inputField {
    width: 50vw;
    font-size: 2vh;
    font-weight: 300;
    float: left;
    padding: 2vh;
    border-radius: 1vh;
    border: 2px solid var(--black);
    background-color: transparent;
    margin-left: 16px;
    margin-right: 16px;
  }

.inputField:focus {
    outline: none;
}
  
.inputButton {
    background-color: var(--brightorange);
    border: 2px solid transparent;
    color: var(--white);
    font-weight: 500;
    font-size: 2vh;
    border-radius: 1vh;
    padding: 2vh;
    float: left;
    font-family: "Roboto";
}

.inputButton:hover {
    border: 2px solid var(--black);
}

#refreshPrompt {
    background-color: var(--brightorange);
    border: 2px solid transparent;
    color: var(--white);
    font-weight: 500;
    font-size: 2vh;
    border-radius: 1vh;
    padding: 2vh;
    float: left;
    font-family: "Roboto";
}

#refreshPrompt:hover {
    border: 2px solid var(--black);
}

p {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.outputCell {
    margin-bottom: 4%;
}

.prompt {
    color: var(--black);
    font-weight: 500;
}

.result {
    color: var(--orange);
}

#outputBox {
    width: 75%;
    max-height: 60vh;
    overflow-y: auto;
    font-weight: 300;
    font-size: 2.5vh;
    text-align: left;
    font-family: "Roboto";
    white-space: pre-wrap;
    display: inline-block;
    border: 2px solid var(--black);
    border-radius: 1vh;
    padding: 4vh;
}

#outputBox::-webkit-scrollbar { /* hides scrollbar in Safari + Chrome */
    width: 0;
    height: 0;
}

.imgContainer {
    display: inline-block;
    margin: 8px;
    border: 2px solid var(--white);
    border-radius: 1vh;
    overflow: hidden;
    width: 512px;
    height: 512px;
    position: relative;
}

.outputDALLE {
    width: 512px;
    height: 512px;
}

.imgContainer:hover {
    border: 2px solid var(--black);
}

.imgContainer:hover > .getVariants {
    color: var(--white)
}

.imgContainer:hover > .saveButton {
    color: var(--white)
}

.getVariants {
    font-size: 2rem;
    position: absolute;
    top: 0.4rem;
    right: 0.25rem;
    border: none;
    background: none;
    color: transparent;
}

.saveButton {
    font-size: 2rem;
    position: absolute;
    bottom: 0.4rem;
    right: 0.25rem;
    border: none;
    background: none;
    color: transparent;
}

.material-icons {
    font-family: 'Material Icons' !important;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

