#panel {
    position: relative;
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.5rem;
    overflow-y: auto;
}

#panel::-webkit-scrollbar { /* hides scrollbar in Safari + Chrome */
    width: 0;
    height: 0;
}

#field {
    width: 100%;
    position: absolute;
    background-color: white;
}

p {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.prompt {
    color: grey;
}

.response {
    color: royalblue;
}